<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    
 <rewrite>
  <rules>

    <rule name="ExcludeLegacyApps" stopProcessing="true">
      <match url="^(XIPHIAS|XIPHIASCRM|XIPHIASAdmin|RealEstate|services|bmail|educounsellors|landingnew|handler|PAYROLL|Imm_Payroll_API)(.*)$" />
      <action type="None" />
    </rule>

    <rule name="NextStaticFiles" stopProcessing="true">
      <match url="^_next/(.*)$" />
      <action type="Rewrite" url="http://localhost:3000/_next/{R:1}" />
    </rule>

    <rule name="NextIcons" stopProcessing="true">
      <match url="^icons/(.*)$" />
      <action type="Rewrite" url="http://localhost:3000/icons/{R:1}" />
    </rule>

    <rule name="PublicFolderFiles" stopProcessing="true">
      <match url="^public/(.*)$" />
      <action type="Rewrite" url="http://localhost:3000/public/{R:1}" />
    </rule>

    <!-- ⭐ THIS FIXES YOUR API ERROR ⭐ -->
    <rule name="NextApi" stopProcessing="true">
      <match url="^api/(.*)$" />
      <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
    </rule>

    <!-- Main rule -->
    <rule name="NextJSRewrite" stopProcessing="true">
      <match url="(.*)" />
      <action type="Rewrite" url="http://localhost:3000/{R:1}" />
    </rule>

  </rules>
</rewrite>


  </system.webServer>
</configuration>
